---
import Layout from "../../layouts/Layout.astro";
const { id } = Astro.params;
import { getPostByID } from "../../utils/prismicFetch";
import * as prismicH from "@prismicio/helpers";
import CintaPage from "../../components/Cintapage.astro";
import { title } from "process";

const blogData = await getPostByID(String(id))
  .then((res) => res)
  .catch(
    () =>
      //obtiene el error de la api al no encontrar documentos
      null
  );

if (!blogData) return Astro.redirect("/404");
console.log(blogData.data.titulo_del_blog);

const contenido = prismicH.asHTML(blogData.data.contenido);
const titulo = prismicH.asHTML(blogData.data.titulo_del_blog);
const imagen =
  Object.values(blogData.data.imagen).length > 0
    ? prismicH.asImageSrc(blogData.data.imagen)
    : null;

export const prerender = false;
---

<Layout title="Prueba">
  <section class="flex flex-col gap-4 w-full">
    <CintaPage  title={blogData.data.titulo_del_blog[0].text} url={"/post" + blogData?.url}/>
    <div class="text-center py-5" set:html={titulo} />
    <div class="w-full px-40">
      {
      imagen && (
        <div class=" flex justify-end">
          <img
            class="size-1/4 rounded"
            src={imagen}
            alt={blogData.data.imagen.alt}
          />
        </div>
      )
    }
    <div class=" text-justify py-12" set:html={contenido} />
    </div>
  </section>
</Layout>
