---
interface Props {
  dropwdownItems: {
    name: string;
    items: { title: string; to: string }[];
    test: string;
  }[];
}
import Menudropdown from "../components/Menudropdown.astro";
const { pathname, origin } = Astro.url;
const response = await fetch(`${origin}/api/menuAzul`);
const data: {
  id: number;
  nombre: string;
  url: string;
  SubMenus: {
    id: number;
    nombre: string;
    menu: number;
    url: string;
  }[];
}[] = await response.json();
---

<nav class="flex-grow flex flex-row justify-evenly">
  <a
    href="/"
    class:list={[
      "border-blue-600",
      { "border-b-2 text-blue-600": pathname === "/" },
    ]}>Inicio</a
  >
  {
    data.map((value) =>
      value.SubMenus.length > 0 ? (
        <Menudropdown
          name={value.nombre}
          items={value.SubMenus}
          test={value.url}
          baseUrl={value.url}
        />
      ) : (
        <a
          href={`/${value.url}`}
          class:list={[
            "border-blue-600",
            { "border-b-2 text-blue-600": pathname === value.url },
          ]}
        >
          {value.nombre}
        </a>
      )
    )
  }
  <a
    href="/login"
    class:list={[
      "border-blue-600",
      { "border-b-2 text-blue-600": pathname === "/login" },
    ]}
    >Iniciar Sesión
  </a>
</nav>
